.grid-container {
    display: block;
    width: 100%;
    max-width: 1290px;
    padding-right: 15px; 
    padding-left: 15px; 
    margin: 0 auto;
}

.block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.centered {
    text-align: center;
}