.footer {
    text-align: center;
    color: #ccc;
    font-size: 0.75em;
    hr {
        margin-bottom: 20px;
        height: 1px;
        border: none;
        background-color: #ccc;
    }
    padding-bottom: 30px;
}
