@import "./vendor/index";
@import "./partials/index";
@import "./modules/index";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: $color-off-white;
}